<!DOCTYPE html>
<html>
<head>
  <title>TaeMarket</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <%= render "layouts/header" %>
  
  <div class="container">
    <% flash.each do |type, message| %>
      <script>
        Materialize.toast('<%= message %>', 4000)
      </script>
    <% end %>
  </div>
  
  <%= render "pages/slider" if action_name == 'home' %>
  
  <main class="container">
    <%= yield %>  
  </main>
  
  <%= render "layouts/footer" %>
  <script>
  $(document).ready(function(){
    $('.parallax').parallax();
    $('ul.tabs').tabs();
    $(".dropdown-button").dropdown();
    $('.button-collapse').sideNav();
  });
    
  </script>
</body>
</html>
